*
{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}


html,head
{
  height:100%;
  width:100%;
}


body
{
   background: linear-gradient(rgb(214, 116, 116),blue);
}

.container
{
  text-decoration: underline;
  padding:100px 400px 40px 300px;
  font-weight:bolder;
  color:yellow;
  font-size: xxx-large;
  font-family: fantasy;
  left:200px;
  top:200px;
  margin-top:20px;
  bottom:200px;
  text-align: center;
}
.lunar
{
    
  text-align: center;
  justify-content: center;
  display: flex;
  position: relative;
  height:200px ;
  width: 200px;
  font-size:100px;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
}


.spot
{
    background-color: transparent;
    position:absolute;
    left:100px; 
    top:100px;
    height:10px;
    width:10px; 
    margin-top: 10px;
    translate:10px 100px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    display: flex;
    shadow: inset -10px 8px 6px -5px #030303, 
    (top right) inset 20px -20px 50px 43px rgba(0, 0, 0, 0.9);
}


.spot1
{
  box-shadow: inset 2px 0 4px rgba(211, 61, 61, 0.685);
  background-color: rgb(0, 0, 0);
  translate:50px -80px;
  height:20px;
  left:10px;
  width:20px;
}


.spot2
{
  box-shadow: inset 2px 0 4px rgba(183, 116, 116, 0.685);
  background-color: rgb(0, 0, 0);
  translate:40px -50px;
  right:20px;
  height:30px;
  width:30px;
}


.spot3
{
  bottom:20px;
  left:20px;
  top:20px;
  box-shadow: inset 2px 0 4px rgba(167, 167, 167, 0.685);
  background-color: rgb(6, 4, 2);
  translate:20px 30px;
  height:50px;
  width:50px;
}



